<div class="bg-[rgb(4,10,31)] min-h-full flex flex-col justify-between px-4">
    <app-header></app-header>
    <section *ngIf="!showTable" class="w-[40%] flex flex-col items-center mx-auto px-5 pt-6 pb-10 -mt-10 rounded-xl border border-white">
        <h3 class="text-[1.8rem] font-bold text-blue-800 text-center pb-6"></h3>
        <mat-form-field appearance="outline" class="w-[80%] text-white">
            <mat-label>Empresa</mat-label>
            <input matInput placeholder="Ingresa tu empresa" autocomplete="disabled">
            <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-[80%] text-white">
            <mat-label>Distrito</mat-label>
            <input matInput placeholder="Ingresa tu distrito" autocomplete="disabled">
            <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-[80%] mb-5 text-white">
            <mat-label>Rubro</mat-label>
            <input matInput placeholder="Ingresa tu rubro" autocomplete="disabled">
            <mat-icon matSuffix>receipt_long</mat-icon>
        </mat-form-field>
        <div class="flex flex-row space-x-5 w-[70%]">
            <button class="w-[50%] h-[2.5rem] mx-auto mt-5 text-cyan-400"
                mat-stroked-button>Sincronizar</button>
            <button (click)="showTable = !showTable" class="w-[50%] h-[2.5rem] mx-auto mt-5 bg-cyan-400"
                mat-raised-button>Procesar</button>
        </div>
    </section>
    <section class="w-[65%] mx-auto -mt-5" [hidden]="!showTable">
        <div class="mat-elevation-z8 overflow-scroll min-w-[600px] h-[297px] max-w-full bg-white">
            <table mat-table [dataSource]="dataSource" class="w-full rounded-lg">

                <!-- empresa Column -->
                <ng-container matColumnDef="empresa">
                    <th mat-header-cell *matHeaderCellDef> Empresa </th>
                    <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
                </ng-container>

                <!-- distrito Column -->
                <ng-container matColumnDef="distrito">
                    <th mat-header-cell *matHeaderCellDef> Distrito </th>
                    <td mat-cell *matCellDef="let element"> {{element.distrito}} </td>
                </ng-container>

                <!-- rubro Column -->
                <ng-container matColumnDef="rubro">
                    <th mat-header-cell *matHeaderCellDef> Rubro </th>
                    <td mat-cell *matCellDef="let element"> {{element.rubro}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <mat-paginator class="h-[50px]" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        
    </section>
    <app-footer></app-footer>
</div>